<footer class="footer">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="footer-manu">
					<ul>
            {{ range .Site.Menus.footer }}
            <li><a href="{{ .URL | absURL }}">{{ .Name }}</a></li>
            {{ end }}
					</ul>
				</div>
				<p class="copyright">{{ .Site.Params.company_data | markdownify }}</p>
				<p class="copyright">{{ .Site.Params.copyright    | markdownify }}</p>
			</div>
		</div>
	</div>
</footer>

<!-- Google Map API -->
{{ if .Site.Params.gmap.enable }}
<script src="{{ .Site.Params.gmap.gmap_api | safeURL }}"></script>
{{ end }}

<!-- JS Plugins -->
{{ range .Site.Params.plugins.js}}
<script src="{{ .link | absURL }}"></script>
{{ end }}

<!-- Main Script -->
{{ $script := resources.Get "js/script.js" | minify}}
<script src="{{ $script.Permalink }}"></script>

