{{ define "main" }}

{{ partial "page-title.html" . }}

{{ $data := index .Site.Data .Site.Language.Lang }}

{{ with .Site.Params.calendly_event_url }}
<section class="calendar-form">
  <div class="container">
    <div class="row">
      <h2 class="mt-40">Let's organise a virtual coffee:</h2>
      Please use the calendar below to select a good time for us to speak. A box will be provided to leave message details.
      <!-- Calendly inline widget begin -->
      <div class="calendly-inline-widget" data-url="{{ . }}" style="min-width:320px;height:750px;"></div>
      <script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js"></script>
      <!-- Calendly inline widget end -->
    </div>
  </div>
</section>
{{ end }}

{{ with .Site.Params.contact_form_action }}
<section class="contact-form">
  <div class="container">
    <div class="row">
      <h2 class="mt-40">Alternatively, you can just send a message:</h2>
      <form method="POST" action="{{ . | safeURL }}">
        <div class="col-md-6 col-sm-12">
          <div class="block">
            <div class="form-group">
              <input name="user_name" type="text" class="form-control" placeholder="Your Name">
            </div>
            <div class="form-group">
              <input name="_replyto" type="text" class="form-control" placeholder="Email Address">
            </div>
            <div class="form-group">
              <input name="user_subject" type="text" class="form-control" placeholder="Subject">
            </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-12">
          <div class="block">
            <div class="form-group-2">
              <textarea name="user_message" class="form-control" rows="4" placeholder="Your Message"></textarea>
            </div>
            <button class="btn btn-default" type="submit">{{ i18n "submit" }}</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
{{ end }}

{{ end }}
